/* Gamburger-Menu */
.menu-switch {
    opacity: 0;
}
/* button style */
.menu-button {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}
/* add burger */
.menu-button .menu-button__form,
.menu-button .menu-button__form::before,
.menu-button .menu-button__form::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;
}

.menu-button .menu-button__form::before {
    content: '';
    top: -8px;
}
.menu-button .menu-button__form::after {
    content: '';
    top: 8px;
}
/* container menu */
.menu-list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    text-align: center;

    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* elements of menu */
.menu-links {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.menu-links:hover {
    background-color: #cfd8dc;
}

.menu-switch:checked ~ .menu-button .menu-button__form {
    transform: rotate(45deg);
}
.menu-switch:checked ~ .menu-button .menu-button__form::before {
    top: 0;
    transform: rotate(0);
}
.menu-switch:checked ~ .menu-button .menu-button__form::after {
    top: 0;
    transform: rotate(0);
}
.menu-switch:checked ~ .menu-list {
    visibility: visible;
    left: 0;
}