body {
    --welcome-bg-color: #87509c;
    --service-bg-color: #17c2a4;
    --team-bg-color: #e7f1f8;
    --skills-bg-color: #ffffff;
    --portfolio-bg-color: #ffdd99;
    --opinion-bg-color: #d74680;
    --connection-bg-color: #3c5499;
    --footer-bg-color: #344b8e;
    --light-text-color: #ffffff;
    --dark-text-color: #3c4761;;
    --menu-backlight-color: #643a79;
    --button-welcome-color: #eb7d4b;
    --shadow-color: rgba(0, 0, 0, 0.15);
    --text-line-color: #000;
    --photo-bg-color: #878787;
    --team-position-text-color: #30bae7;
    --active-filter-bg-color: #fff;
    --button-load-color: #17c2a4;
    --commentator-position-text-color: #ffdd99;
    --star-color: #ff0000;
    --form-color: rgba(0, 0, 0, 0.25);
    --button-send-color: #30bae7;
    --footer-bg-color: #344b8e;
    --footer-text-color: #30bae7;
}