.header-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 78px;
  }
  
  .headers {
    display: flex;
    margin-bottom: 21px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .headers__text {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
  }
  
  .text-line {
    border: none;
    background-color: var(--text-line-color);
    display: flex;
    height: 4px;
    margin-bottom: 23px;
    opacity: 0.15;
    width: 87px;
  }
  
  .subtitle {
    font-size: 18px;
    text-align: center;
  }