@media all and (max-width: 1100px) {
    .portfolio-examples {
        justify-content: center;
    }
}
@media all and (max-width: 1000px) {
    .people-opinion {
        justify-content: center;
    }
}
@media all and (max-width: 990px) {
    .opinion__items:nth-child(3) {
        margin-bottom: 147px;
    }
}
@media all and (max-width: 900px) {
    .text-welcome {
        font-size: 36px;
      }
      .text-welcome-block {
        margin-bottom: 70px;
      }
      .container {
        width: 100%;
        max-width: 620px;
      }
      .items:first-child {
          margin-bottom: 60px;
      }
      .items:nth-child(2) {
        margin-bottom: 60px;
      }
      .persent__items {
        width: 100%;
        max-width: 50%;
      }
      .persent__items:first-child {
        margin-bottom: 60px;
      }
      .persent__items:nth-child(2) {
        margin-bottom: 60px;
      }

}
@media all and (max-width: 700px) {
    .connection-form {
        flex-direction: column;
        max-width: 540px;
        width: 100%;
    }
    .label-for-name, .label-for-email, .label-for-text {
        width: 100%;
    }    
    .footer-links {
        flex-direction: column;
    }
    .footer-links__items {
        margin-bottom: 10px;
    }
    .footer-links__items:nth-last-child() {
        margin-bottom: 0;
    }
}
@media all and (max-width: 600px) {
    #menu-switch {
        opacity: 0;
    }
    .menu-button{
        align-items: center;
        display: flex;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 58px ;
        right: 20px;
        cursor: pointer;
        z-index: 1;
      }
      .menu-button > .menu-button__form,
      .menu-button > .menu-button__form:before,
      .menu-button > .menu-button__form:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background: #fff;
      }
      .menu-button > .menu-button__form:before{
        content: "";
        top: -10px
      }
      .menu-button > .menu-button__form:after{
        content: "";
        top: 10px;
      }
      .menu-list{
        display: block;
        position: absolute;
        visibility: hidden;
        top: 110px;
        left: 0;
        width: 100%;
        height: 70vh;
        z-index: 5;
        border-radius: 20px;
        background-color: var(--welcome-bg-color);
      }
      .menu-items{
        display: flex;
        justify-content: center;
        padding: 30px 0;
      }
      .menu-links{
        font-size: 25px;
        font-weight: 500;
        color: var(--light-text-color);
      }
      .menu-links:hover{
    
      }
      #menu-switch:checked ~ .menu-button > .menu-button__form {
        transform: rotate(45deg);
      }
      #menu-switch:checked ~ .menu-button > .menu-button__form::before {
        top: 0;
        transform: rotate(0);
      }
      #menu-switch:checked ~ .menu-button > .menu-button__form::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu-switch:checked ~ .menu-list {
        visibility: visible;
      }
      .menu-button > .menu-button__form,
      .menu-button > .menu-button__form::before,
      .menu-button > .menu-button__form::after {
          transition-duration: .25s;
      }
      .menu-list {
          transition-duration: .25s;
      }
      .menu-items {
          transition-duration: .25s;
      }
}
@media all and (max-width: 550px) {
    .connection-form {
        flex-direction: column;
        max-width: 400px;
        width: 100%;
    }
    .form__input-text {
        min-height: 150px;
    }
    .label-for-name, .label-for-email, .label-for-text {
        width: 100%;
    }
    .portfolio__img {
        max-width: 400px;
    }
}
@media all and (max-width: 500px) {
    .section {
        padding: 80px 0;
      }
    .header-block {
        margin-bottom: 50px;
      }
      .header {
        padding-top: 30px;
      }
      .menu-button {
        top: 37px;
      }
}
@media all and (max-width: 450px) {
    .text-welcome {
        font-size: 28px;
      }
    .button-send-message {
        padding: 24px 60px;
      }
    .button-join {
        padding: 24px 55px;
      }
    .button-load {
        padding: 24px 42px;
      }
    .container {
        max-width: 400px;
    }
    .services-list {
        justify-content: center;
      }
      .items:nth-child(3) {
        margin-bottom: 60px;
      }
      .team-person {
        justify-content: center;
      }
      .headers__text {
        font-size: 30px;
      }
      .percent {
        justify-content: center;
      }
      .persent__items {
        max-width: 60%;
      }
      .persent__items:nth-child(3) {
        margin-bottom: 60px;
      }
      .person-photo {
          height: 150px;
          width: 150px;
      }
      .commentator__comment {
          font-size: 18px;
      }
      .commentator__name {
          font-size: 20px;
      }
}
@media all and (max-width: 410px) {
    .connection-form {
        max-width: 340px;
        width: 100%;
    }
}
@media all and (max-width: 400px) {
    .text-welcome {
        font-size: 25px;
    }
    .portfolio__img {
        max-width: 270px;
    }
    .button-send-message {
        padding: 16px 42px;
      }
    .button-join {
        padding: 16px 35px;
      }
    .button-load {
        padding: 16px 23px;
      }
    .button {
        font-size: 16px;
    }
      .services__img {
        margin-bottom: 35px;
      }
      
      .services__headers {
        margin-bottom: 20px;
      }
      .person-photo {
          margin-bottom: 25px;
      }
      .person__names {
          margin-bottom: 8px;
      }
      .person__position {
          margin-bottom: 15px;
      }
      .person__description {
          margin-bottom: 15px;
      }
      .headers__texts {
          font-size: 25px;
      }
      .section {
          padding: 45px;
      }
      .filter__items {
        padding: 6px 15px;
      }
      .commentator__photo {
          margin-right: 10px;
      }
}