ul {
    list-style: none;
  }
  
  a {
    color: var(--main-text-color);
    text-decoration: none;
  }
  
  h1, h2, h3 {
    text-transform: uppercase;
  }
  
  *, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 119px 0 120px;
  }

  .container {
    width: 100%;
    max-width: 1100px;
  }

  .items {
    max-width: 210px;
  }

  .button {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }

  .button:hover {
    filter: brightness(120%);
  }